body.dark-theme {
    background-color: #333;
    color: #fff;
}

.wrapFavorites{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 30px;
    margin: 50px auto;
}

.changeMode{
    padding: 14px 20px;
    background-color: blue;
    display: inline-block;
    color: white;
    border-radius: 200px;
    font-weight: 600;
    text-align: center;
    max-width: 200px;
    font-size: 18px;
}


#tabs .favorites{
    flex-basis: 596px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 20px 60px;
    color: white;
    border-radius: 100px;
    font-weight: 600;
    font-size: 24px;
    background-color: blue;
}

#tabs .main{
    flex-basis: 596px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 20px 60px;
    color: rgba(255, 255, 255, 0.603);
    border-radius: 100px;
    font-weight: 600;
    font-size: 24px;
    background-color: lightslategray;
}

#tabs {
    margin-top: 20px;
    display: flex;
    background-color: lightslategray;
    padding: 4px;
    border-radius: 200px;
}